header {
  font-weight: 600;
  font-size: 0.9rem;
}

.navbar {
  @apply hidden flex-col justify-between bg-primary;
}

.branding {
  background: theme('colors.primary-darker');
  background: linear-gradient(
    45deg,
    theme('colors.primary') 0%,
    theme('colors.primary-darker') 100%
  );
}

.nav-link {
  @apply block py-4 px-4 text-white text-left;
  min-width: 7rem;
}

.has-submenu {
  // Only functions on mobile
  .submenu.submenu-shown {
    @apply block;
  }
  .submenu {
    @apply hidden w-full pl-3;
  }
}

@screen md {
  .navbar {
    @apply mx-auto flex flex-row bg-white;
    // Override jQuery's slideToggle when moving from sm to md+
    display: flex !important;
  }

  .branding {
    background: none;
  }

  .nav-link {
    @apply transition duration-100 ease-in text-gray-900 text-center whitespace-no-wrap bg-white;

    &:hover {
      @apply bg-gray-200;
    }

    &.active {
      @apply bg-primary text-white;
    }
  }

  .has-submenu {
    @apply relative;

    .submenu {
      @apply pl-0 w-auto;

      .nav-link {
        @apply text-left;
      }
    }

    & > .submenu {
      @apply absolute hidden;

      // Nested submenus must appear shifted to the right
      .submenu {
        @apply left-full top-0;
      }
    }

    &:hover > .submenu {
      @apply flex flex-col;
    }
  }
}
